#if ($absentOrLate)
<p><b>$user</b> сегодня будет отсутствовать.</p>
<p>Указанная причина: <u>$reason</u></p>
<p>Сообщил об отсутствии  $reporter.</p>
#else
<p><b>$user</b> опоздает на работу.</p>
<p>Примерное время выхода: <b>$time</b> $date.</p>
<p>Указанная причина: <u>$reason</u></p>
<p>Сообщил об опоздании  $reporter.</p>
#end
