<html>
    <head>
        <title>$i18n.getText("arrival.report.all")</title>
        <meta name="decorator" content="atl.general"/>
        $webResourceManager.requireResource("jira.webresources:global-static")
        $webResourceManager.requireResource("jira.webresources:jira-global")
        $webResourceManager.requireResource("com.atlassian.auiplugin:ajs")
        $webResourceManager.requireResource("jira.webresources:calendar")
        $webResourceManager.requireResource("jira.webresources:calendar-$lang")
    </head>
    <body class="aui">
        <h3 class="jiraformheader">$i18n.getText("arrival.report.all.filters")</h3>
        <table width="100%" cellpadding="10">
        <tr>
        <td width="50%">
        <form class="aui" id="searchform" name="searchform">
            <div class="field-group">
                <label for="startDate">$i18n.getText("arrival.report.user.starttime")<span class="aui-icon icon-required"></span></label>
                <input type="text" id="startDate" name="startDate"/>
                <img id="startDate_trigger" src="$baseUrl/images/icons/cal.gif" width="16" height="16" border="0" alt="Pick a start date"/>
            </div>
            <div class="field-group">
                <label for="endDate">$i18n.getText("arrival.report.user.endtime")<span class="aui-icon icon-required"></span></label>
                <input type="text" id="endDate" name="endDate"/>
                <img id="endDate_trigger" src="$baseUrl/images/icons/cal.gif" width="16" height="16" border="0" alt="Pick a end date"/>
            </div>
            <div class="field-group">
                <label for="users">$i18n.getText("arrival.report.all.users")<span class="aui-icon icon-required"></span></label>
                <select multiple="" size="10" id="users" name="users">
                    #foreach($entry in $users.entrySet())
                        <option value="$entry.key" selected="true">$entry.value</option>
                    #end
                </select>
            </div>
            <div class="buttons-container">
                <div class="buttons">
                    <input class="button submit" type="button" value='$i18n.getText("arrival.report.user.search")' onclick="getreportall('$baseUrl');"/>
                </div>
            </div>
        </form>
        </td>
        <td width="50%" valign="top" style="background-color: white;">
            <div style="padding: 7px;">
            <h4>$i18n.getText("arrival.report.user.hrdates")</h4>
            <div style="overflow-y: scroll;overflow-x: hidden;height: 80px;">
            <table id="hrtable" name="hrtable" width="100%" class="grid">
            <tbody style="height: auto;">
            #foreach($hrDate in $hrDates)
            <tr>
                <td width="50%">$i18n.getText($months.get($hrDate.getMonth())) - $hrDate.getYear()</td>
                <td width="50%">$hrDate.getHrDate()</td>
            </tr>
            #end
            </tbody>
            </table>
            </div>
            <hr/>
            <h4>$i18n.getText("arrival.report.all.storehrdate")</h4>
            <table>
            <tr>
                <td>
                    <b>$i18n.getText("arrival.calendar.chooseyear")</b>
                </td>
                <td>
                    <select id="year" name="year" class="aui" onchange="txtChange();">
                        <option value="2012">2012</option>
                        <option value="2013">2013</option>
                        <option value="2014">2014</option>
                        <option value="2015">2015</option>
                        <option value="2016">2016</option>
                        <option value="2017">2017</option>
                        <option value="2018">2018</option>
                        <option value="2019">2019</option>
                        <option value="2020">2020</option>
                        <option value="2021">2021</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <b>$i18n.getText("arrival.calendar.choosemonth")</b>
                </td>
                <td>
                    <select id="month" name="month" class="aui" onchange="txtChange();"">
                        <option value="1">$i18n.getText("arrival.calendar.january")</option>
                        <option value="2">$i18n.getText("arrival.calendar.febrary")</option>
                        <option value="3">$i18n.getText("arrival.calendar.march")</option>
                        <option value="4">$i18n.getText("arrival.calendar.april")</option>
                        <option value="5">$i18n.getText("arrival.calendar.may")</option>
                        <option value="6">$i18n.getText("arrival.calendar.june")</option>
                        <option value="7">$i18n.getText("arrival.calendar.july")</option>
                        <option value="8">$i18n.getText("arrival.calendar.august")</option>
                        <option value="9">$i18n.getText("arrival.calendar.september")</option>
                        <option value="10">$i18n.getText("arrival.calendar.october")</option>
                        <option value="11">$i18n.getText("arrival.calendar.november")</option>
                        <option value="12">$i18n.getText("arrival.calendar.december")</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    <b>$i18n.getText("arrival.report.all.savedate")</b>
                </td>
                <td>
                    <input type="text" onchange="txtChange();" id="repDate" name="repDate"/><img id="repDate_trigger" src="$baseUrl/images/icons/cal.gif" width="16" height="16" border="0" alt="Pick a start date"/>
                </td>
            </tr>
            <tr>
                <td id="formtxt" colspan="2">
                    <span id="chText" name="chText"></span>
                </td>
            </tr>
            <tr>
                <td>
                    <input class="button" type="button" value='$i18n.getText("arrival.calendar.savecalendar")' onclick="setHrDate('$baseUrl', 'false');"/>
                </td>
            </tr>
            </table>
            </div>
        </td>
        </tr>
        </table>
        <hr/>
        <table width="100%">
            <tr>
                <td width="95%">
                    <table id="data_table" name="data_table" class="grid" width="100%">
                        <thead>
                            <tr>
                                <th id="employee">$i18n.getText("arrival.report.all.column.employee")</th>
                                <th id="count_minutes">$i18n.getText("arrival.report.all.column.count.minutes")</th>
                                <th id="arr_time1">$i18n.getText("arrival.report.all.column.count.absent")</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </td>
                <td width="5%" align="center" valign="top">
                    <a href="#" onclick="getcsvreportall(event, '$baseUrl')"><b>Excel</b></a><br/>
                    <a href="#" onclick="getpdfreportall(event, '$baseUrl')"><b>PDF</b></a>
                </td>
            </tr>
        </table>
        <br/>
        <script language="javascript">
            AJS.$(document).ready(function() {
                AJS.$(window).bind('beforeunload', function() {
                    return null;
                });

                AJS.$("#searchform").submit(function() {
                    AJS.$(window).unbind("beforeunload");
                });
            });

            var closeLbl = '$i18n.getText("common.words.close")';
            var saveLbl = '$i18n.getText("arrival.calendar.savecalendar")';
            var hrreptxt = '$i18n.getText("arrival.report.all.hrsavetext")';
            var minDaySet = '#if($hrDate)$sdf.format($lasthrDate)#else$minDate#end';
            var existsReport = '<p>$i18n.getText("arrival.report.all.exists.date")</p>';
            var rewriteLbl = '$i18n.getText("common.words.rewrite")';

            String.format = function() {
                var s = arguments[0];
                for (var i = 0; i < arguments.length - 1; i++) {       
                var reg = new RegExp("\\{" + i + "\\}", "gm");             
                s = s.replace(reg, arguments[i + 1]);
                }

                return s;
            }

            Calendar.setup({
                firstDay : 0,
                inputField : 'startDate',
                button : 'startDate_trigger',
                align : 'Br',
                singleClick : true,
                useISO8601WeekNumbers : false,
                ifFormat : '%Y-%m-%d'
            });

            Calendar.setup({
                firstDay : 0,
                inputField : 'endDate',
                button : 'endDate_trigger',
                align : 'Br',
                singleClick : true,
                useISO8601WeekNumbers : false,
                ifFormat : '%Y-%m-%d'
            });

            Calendar.setup({
                firstDay : 0,
                inputField : 'repDate',
                button : 'repDate_trigger',
                align : 'Br',
                singleClick : true,
                useISO8601WeekNumbers : false,
                ifFormat : '%Y-%m-%d'
            });

            AJS.$("#startDate").val(#if($hrDate)"$sdf.format($lasthrDate)"#else"$minDate"#end);
            AJS.$("#endDate").val("$nowDate");
            AJS.$("#repDate").val("$nowDate");
            AJS.$('#chText').text(format(hrreptxt, AJS.$('#month option:selected').text(), AJS.$('#year').val(), minDaySet, AJS.$('#repDate').val()));

            var infoLbl = '$i18n.getText("arrival.gadget.register.information")';
            var errorLbl = '$i18n.getText("arrival.gadget.register.error")';
            var closeLbl = '$i18n.getText("common.words.close")';
            var loadLbl = '$i18n.getText("common.words.loading")';
            var incorStartLbl = '$i18n.getText("common.words.incor.start")';
            var incorEndLbl = '$i18n.getText("common.words.incor.end")';
            #include("templates/ScriptDialogs.vm")
            #include("templates/ScriptReportAll.vm")
        </script>
    </body>
</html>
